<ion-content [fullscreen]="true">
  <ion-grid>
    <!--Row con parrafo principal-->
    <ion-row>
      <ion-col id="logo" class="ion-text-center">
        <p id="pPrincipal">
          <b
            >Recuerda, no hay respuestas correctas o incorrectas, sólo <br />
            debes responder con la mayor sinceridad posible.</b
          >
        </p>
      </ion-col>
    </ion-row>
    <!--Row con personaje parrafo y botón-->
    <ion-row class="rowDescp">
      <ion-col size-md="9">
        <ion-row>
          <!--Col parrafo y botón-->
          <ion-col id="colParrafo" size-sm="12" class="ion-padding">
            <p id="parrafoTerms">
              *Al continuar a la siguiente sección del formulario, aceptas que
              has leído los
              <a (click)="presentModal('TYC')"
                ><b>términos del consentimiento</b></a
              >
              para obtener los resultados del test. <br /><br />
              <b>**No se guardarán las respuestas</b> hasta que no finalices el
              test por completo.
            </p>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-padding">
            <ion-button class="ion-margin-start buttonAdvanced" (click)="goNext()" color="cumbrepurple">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

      <!--Col con personaje-->
      <ion-col size-md="3">
        <img
          class="personajes img-fluid"
          src="/assets/terms/personaje.png"
          alt=""
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
