ion-content {
  --background: url("/assets/terms/FondoT.png") no-repeat center/cover fixed;
  background-color: #12ac88;
  z-index: 0;
}

* {
  font-family: "Quicksand", sans-serif;
  color: #ffff;
  font-size: 3.8vh;
  text-decoration: none;
}

ion-grid{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rowDescp{
        width: 80%;
        margin: auto;
    }

    img{
        max-width: 200px;
    }
}