ion-content {
    position: relative;
    --background: none;
    background-image: url("../../../../assets/terms/FondoT.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

ion-grid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15%;

    .rowItems {
        height: 100%;
        width: 100%;

        .opcionesGridItems {
            position: relative;
            color: #18243E;
            font-weight: 500;
            border: solid 1px #fff;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: 99.6%;
                height: 100%;
            }

            .enunciado {
                width: 80%;
                margin: auto;

                p {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-family: 'Quicksand', sans-serif;
                    transition: all 0.2s ease-in-out;
                    text-align: center;
                    margin: 3em;
                    font-size: 1.5rem;
                }
            }

            .optionNumber {
                width: 85%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: stretch;

                .option {
                    .paragraph {
                        justify-content: center;
                        align-items: center;
                        color: #1D1D1B;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-family: 'Quicksand', sans-serif;
                        font-size: 1.5rem;
                        text-align: center;
                        font-weight: bolder;
                    }

                    button {
                        z-index: 2;
                        background-color: #fff;
                        font-size: 2rem;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-family: 'Quicksand', sans-serif;
                        text-align: center;
                        transition: all 0.2s ease-in-out;
                    }

                    #opt1,
                    #opt2 {
                        width: 96px;
                        height: 92px;
                        background: url('../../../../assets/octagon/O1.png') -5px -10px;
                    }

                    #opt3 {
                        width: 96px;
                        height: 92px;
                        background: url('../../../../assets/octagon/O21.png') -5px -10px;
                    }

                    #opt4,
                    #opt5 {
                        width: 96px;
                        height: 92px;

                        background: url('../../../../assets/octagon/O31.png') -5px -10px;
                    }

                    #opt1:hover,
                    #opt2:hover {
                        width: 96px;
                        height: 92px;

                        background: url('../../../../assets/octagon/O2.png') -5px -10px;
                        color: #ffff;
                    }

                    #opt3:hover {
                        width: 96px;
                        height: 92px;
                        background: url('../../../../assets/octagon/O22.png') -5px -10px;
                        color: #ffff;
                    }

                    #opt4:hover,
                    #opt5:hover {
                        width: 96px;
                        height: 92px;

                        background: url('../../../../assets/octagon/O32.png') -5px -10px;
                        color: #ffff;
                    }

                    #opt1:active,
                    #opt2:active,
                    #opt1:focus,
                    #opt2:focus {
                        width: 96px;
                        height: 92px;

                        background: url('../../../../assets/octagon/O2.png') -5px -10px;
                        color: #ffff;
                    }

                    #opt3:active,
                    #opt3:focus {
                        width: 96px;
                        height: 92px;
                        background: url('../../../../assets/octagon/O22.png') -5px -10px;
                        color: #ffff;
                    }

                    #opt4:active,
                    #opt5:active,
                    #opt4:focus,
                    #opt5:focus {
                        width: 96px;
                        height: 92px;

                        background: url('../../../../assets/octagon/O32.png') -5px -10px;
                        color: #ffff;
                    }
                }
            }
        }

        .progreso {
            margin: 6em auto 1em auto;

            ion-row {
                position: relative;
                width: 60%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-content: center;

                ion-col {
                    border-radius: 8px;
                    height: 6px;
                    padding: 0;
                }

                .virtual {
                    background-color: #80808073;
                }

                .actual {
                    background-color: #fff;
                }

                .btnContinuar {
                    position: absolute;
                    right: -5vw;
                    bottom: -200%;
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 50%;
                    //background-image: url("/assets/img/BTN1.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

ion-col {
    text-align: center;
}

.actived {

    #opt1:active,
    #opt2:active,
    #opt1:focus,
    #opt2:focus {
        color: #000;
        background-color: #E42320;
    }

    #opt3:active,
    #opt3:focus {
        background-color: #6F6F6E;
    }

    #opt4:active,
    #opt5:active,
    #opt4:focus,
    #opt5:focus {
        background-color: #69B32D;
    }
}

@media (max-width: 800px) {
    #titulo_intro {
        #h1titulo {
            font-size: 6vh;
        }
    }

    ion-grid {
        .rowItems {
            height: 100%;
            width: 100%;

            .opcionesGridIntro {
                .intro {
                    width: 90%;
                    margin: auto;

                    p {
                        font-family: "Montserrat";
                        font-size: 2.5vh;
                        transition: all 0.2s ease-in-out;
                        text-align: center;
                        margin: 1.5vw;
                    }
                }
            }

            .opcionesGridItems {
                .enunciado {
                    p {
                        margin: 2vh 1vw 4vh 1vw;
                        font-size: 2.2vh;
                    }
                }

                .opciones {
                    .opcion {
                        position: relative;
                        padding: 0;

                        button {
                            font-size: 0.5vh;
                        }
                    }
                }
            }

            .progreso {
                ion-row {
                    button {
                        right: -11vw !important;
                    }
                }
            }
        }
    }
}