ion-content {
  position: relative;
  --background: none;
  background-image: url("/assets/terms/FondoT.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

ion-grid {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;

  .rowItems {
    height: 100%;
    width: 100%;

    .opcionesGridItems {
      position: relative;
      color: #18243e;
      font-weight: 500;
      border: solid 1px #fff;
      background-color: rgb(255, 255, 255);
      border-radius: 0.5rem;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 99.6%;
        height: 100%;
      }

      .enunciado {
        width: 80%;
        margin: auto;

        p {
          font-family: "Montserrat Alternates", sans-serif;
          font-family: "Quicksand", sans-serif;
          transition: all 0.2s ease-in-out;
          text-align: center;
          margin: 1.5em;
          font-size: 1.5rem;
        }
      }

      .optionNumber {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .option {
          .paragraph {
            justify-content: center;
            align-items: center;
            color: #1d1d1b;
            font-family: "Montserrat Alternates", sans-serif;
            font-family: "Quicksand", sans-serif;
            font-size: 1rem;
            text-align: center;
            font-weight: bolder;
          }

          button {
            z-index: 2;
            background-color: #fff;
            font-size: 2rem;
            color: #000;
            font-family: "Montserrat Alternates", sans-serif;
            font-family: "Quicksand", sans-serif;
            text-align: center;
            transition: all 0.2s ease-in-out;
          }

          #opt1.opt1act,
          #opt2.opt2act {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T2.png") -10px -10px;
            color: #ffff;
          }

          #opt3.opt3act {
            width: 92px;
            height: 93px;
            background: url("/assets/triangles/T22.png") -10px -10px;
            color: #ffff;
          }

          #opt4.opt4act,
          #opt5.opt5act {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T31.png") -10px -10px;
            color: #ffff;
          }

          #opt1,
          #opt2 {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T1.png") -10px -10px;
          }

          #opt3 {
            width: 92px;
            height: 93px;
            background: url("/assets/triangles/T21.png") -10px -10px;
          }

          #opt4,
          #opt5 {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T32.png") -10px -10px;
          }

          #opt1:hover,
          #opt2:hover {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T2.png") -10px -10px;
            color: #ffff;
          }

          #opt3:hover {
            width: 92px;
            height: 93px;
            background: url("/assets/triangles/T22.png") -10px -10px;
            color: #ffff;
          }

          #opt4:hover,
          #opt5:hover {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T31.png") -10px -10px;
            color: #ffff;
          }

          #opt1:active,
          #opt2:active,
          #opt1:focus,
          #opt2:focus {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T2.png") -10px -10px;
            color: #ffff;
          }

          #opt3:active,
          #opt3:focus {
            width: 92px;
            height: 93px;
            background: url("/assets/triangles/T22.png") -10px -10px;
            color: #ffff;
          }

          #opt4:active,
          #opt5:active,
          #opt4:focus,
          #opt5:focus {
            width: 93px;
            height: 93px;
            background: url("/assets/triangles/T31.png") -10px -10px;
            color: #ffff;
          }
        }
      }
    }

    .progreso {
      margin: 2em auto 1em auto;

      ion-row {
        position: relative;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;

        ion-col {
          border-radius: 8px;
          height: 6px;
          padding: 0;
        }

        .virtual {
          background-color: #80808073;
        }

        .actual {
          background-color: #fff;
        }
      }
    }

    .colCont {
      .btnContinuar {
        width: 45px;
        height: 45px;
        font-size: 22px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          background-color: #6f6f6e;
          color: white;
        }
      }
    }
  }
}

ion-col {
  text-align: center;
}

.actived {
  #opt1:active,
  #opt2:active,
  #opt1:focus,
  #opt2:focus {
    color: #000;
    background-color: #e42320;
  }

  #opt3:active,
  #opt3:focus {
    background-color: #6f6f6e;
  }

  #opt4:active,
  #opt5:active,
  #opt4:focus,
  #opt5:focus {
    background-color: #69b32d;
  }
}

@media (max-width: 800px) {
  #titulo_intro {
    #h1titulo {
      font-size: 6vh;
    }
  }

  ion-grid {
    .rowItems {
      height: 100%;
      width: 100%;

      .opcionesGridIntro {
        .intro {
          width: 90%;
          margin: auto;

          p {
            font-family: "Montserrat";
            font-size: 2.5vh;
            transition: all 0.2s ease-in-out;
            text-align: center;
            margin: 1.5vw;
          }
        }
      }

      .opcionesGridItems {
        .enunciado {
          width: 90%;
          p {
            margin: 2vh 1vw 4vh 1vw;
            font-size: 3vh;
          }
        }

        .optionNumber {
          .option {
            .paragraph {
              font-size: 0.9rem;
            }
          }
        }
      }

      .progreso {
        margin: 1em auto 1em auto;
        ion-row {
          button {
            right: -11vw !important;
          }
        }
      }
    }
  }
}
