<ion-content>
  <ion-grid>
    <!--Row con parrafo principal-->
    <ion-row class="ion-padding">
      <ion-col>
        <p id="pPrincipal">
          <b>Información Básica</b>
        </p>
      </ion-col>
    </ion-row>
    <!--Row con imagen de instrucciones-->
    <ion-row class="ion-justify-content-center">
      <ion-col id="registro" size="11" size-md="10">
        <ion-row>
          <ion-col id="personaje ion-text-center" size="12" size-md="3">
            <img src="/assets/login/personaje_4.png" alt="" />
          </ion-col>
          <ion-col size="12" size-md="9" class="ion-align-self-center">
            <form [formGroup]="usuario">
              <div class="input ion-margin-vertical">
                <label for="fname">Nombre Completo:</label><br />
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre completo..."
                  formControlName="nombre"
                  required
                />
              </div>
              <div class="input ion-margin-vertical">
                <label for="fcc">Número de identificación:</label><br />
                <input
                  type="number"
                  class="form-control"
                  placeholder="Número de documento..."
                  formControlName="documento"
                  required
                />
              </div>
              <div class="input ion-margin-vertical">
                <label for="fcc">Correo:</label><br />
                <input
                  type="email"
                  class="form-control"
                  placeholder="Correo electrónico..."
                  formControlName="email"
                  required
                />
              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!--Row con botón-->
    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-padding-bottom">
        <ion-button
          type="submit"
          (click)="guardarDatos(login)"
          class="buttonAdvanced"
          [disabled]="!usuario.valid"
          color="cumbregreen"
          >Siguiente
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
