<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col id="logo">
        <img class="personajes img-fluid" src="/assets/home/Logo.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="text-center">
      <ion-col>
        <img class="personajes img-fluid" src="/assets/home/personaje_1.png" alt="">
      </ion-col>
      <ion-col>
        <img class="personajes img-fluid" src="/assets/home/personaje_2.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="d-flex ion-align-items-center mt-5">
      <ion-col>
        <p>
          Descubre cuales son tus <b>fortalezas y debilidades</b>
          <br> ante tu emprendimiento.
        </p>
      </ion-col>
      <ion-col>
        <p>Sí ya has realizado la prueba de potencial de
          <br> <b>innovación y emprendimiento</b> y deseas ver
          <br>nuevamente los resultados obtenidos, <b>ingresa aquí.</b>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="d-flex ion-align-items-center">
      <ion-col>
        <ion-button (click)="empezar()" fill="clear">
          <img id="btnEmpezar" src="/assets/home/btnEmpezar.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="resultados()" fill="clear">
          <img id="btnResultado" src="/assets/home/btnResultado.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>