#inicio {
    --background: url("../../../assets/instructions/FondoI.png") no-repeat center/cover fixed;
    background-color: #18243E;
    z-index: 0;
}

.results {
    text-align: center;
    color: #fff;
    font-size: 6vh;
    font-family: "Montserrat";
    font-weight: 600;
    margin-bottom: 1%;
}

.radar{
    padding: 4%;
}

#date{
    text-align: center;
    color: #fff;
    font-size: 3vh;
    font-family: "Montserrat";
    font-weight: 300;
    padding-top: 0%;
    margin-top: 0%;
}

.Title {
    text-align: center;
    color: #fff;
    font-size: 5.5vh;
    font-family: "Montserrat";
    font-weight: 600;
}

ion-grid {
    margin: 0;
    padding-top: 1vh;
    padding-left: 15vw;
    padding-right: 15vw;


    .rowItems {
        height: 100%;
        width: 100%;
        padding-bottom: 2vh;

        .opcionesGridItems {
            position: relative;
            color: #000000;
            font-weight: 500;
            border: solid 1px #fff;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;

            .enunciado {
                width: 100%;
                margin: auto;

                p {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-family: 'Quicksand', sans-serif;
                    transition: all 0.2s ease-in-out;
                    text-align: center;
                    margin: 3em;
                    font-size: 1.5rem;
                }


            }
        }
    }
}

.containerResults {
    border: solid 1px #fff;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;

    .enunciadoCard {
        font-family: 'Montserrat';
        color: #18243E;
        font-size: 3.2vh;
        padding-left: 12vw;
        padding-right: 12vw;
        font-weight: bolder!important;
    }

    .paragraphCard{
        font-family: 'Montserrat';
        color: #000000;
        font-weight: 400;
        padding-bottom: 4%;
        padding-left: 9%;
        padding-right: 4%;
        font-size: large;
    }
    .subtitle{
        color: #12AC88;
        font-family: 'Montserrat';
        font-weight: bolder;
        font-size: 3.2vh;
    }
}

ion-row{
    align-items: center!important;
}

ion-col {
    text-align: center;
}

ion-button {
    height: 8vh;
    margin-top: 3%;
    margin-bottom: 3%;
    img {
        height: 100%;
    }
}

#reporte {
    --background: url("../../../assets/results/FondoResults.png") no-repeat center/cover fixed;
    background-color: #12AC88;
    z-index: 0;
}